<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Aseguradora</title>
    <link rel="stylesheet" href="{% static "crear_gestion.css" %}">
</head>
<body>
    <form class="form" method="post" action="{% if form.instance.pk %}{% url 'actualizar_aseguradora' form.instance.pk %}{%else %}{% url 'crear_aseguradora' %}{% endif %}">
        <h1>{% if form.instance.pk %} Editar Aseguradora {%else %} Crear Aseguradora {% endif %}</h1> 
        {%csrf_token%}
        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %} Editar Aseguradora {%else %} Crear Aseguradora {% endif %}</button>
        <a class="btn" href="{% url 'listado_aseguradoras'  %}">Volver</a>
    </form>
</body>
</html>