<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Aseguradoras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'admin/css/carros_lista.css' %}">
</head>
<body>
    <div>
        {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
                <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
        {% endfor %}
        {% endif %}
        <h1>Listado De Aseguradoras</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for aseguradora in aseguradoras %}
                <tbody>
                    <td>{{aseguradora.id_aseguradora}}</td>
                    <td>{{aseguradora.nombre}}</td>
                    <td>{{aseguradora.direccion}}</td>
                    <td>{{aseguradora.telefono}}</td>
                    <td>{{aseguradora.email}}</td>
                    <td> 
                        <a href="{% url 'eliminar_aseguradora' aseguradora.pk %}" class="action-link delete-link">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                        <a href="{% url 'actualizar_aseguradora' aseguradora.pk %}" class="action-link edit-link">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a href="{% url 'vista_aseguradora' aseguradora.pk %}" class="action-link read-link">
                            <i class="bi bi-eye-fill"></i>
                    </td>
                </tbody>
            {% endfor %}
        </table>
        <button><a style="text-decoration: none; color: aliceblue;" href="{% url 'crear_aseguradora'  %}">Crear Carro</a></button>
    </div>
    
    <script>
        // Hacer que los mensajes desaparezcan después de 5 segundos
        setTimeout(function() {
            var messages = document.getElementsByClassName('message');
            for (var i = 0; i < messages.length; i++) {
                messages[i].style.display = 'none';
            }
        }, 5000);
    </script>
</body>
</html>