<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Aseguradoras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static "carros_lista.css" %}">
</head>
<body>
    <div>
        <h1>Listado De Seguros</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Placa</th>
                    <th>Id aseguradora</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha Final</th>
                    <th>Costo</th>
                    <th>Tipo Cobertura</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for seguro in seguros %}
                <tbody>
                    <td>{{seguro.dni}}</td>
                    <td>{{seguro.placa}}</td>
                    <td>{{seguro.id_aseguradora}}</td>
                    <td>{{seguro.fecha_inicio|date:'d-m-Y'|default:'...'}}</td>
                    <td>{{seguro.fecha_fin|date:'d-m-Y'|default:'...'}}</td>
                    <td>{{seguro.costo}}</td>
                    <td>{{seguro.tipo_cobertura}}</td>
                    <td>{{seguro.estado}}</td>
                    <td> 
                        <a href="{% url 'eliminar_seguro' seguro.pk %}" class="action-link delete-link">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                        <a href="{% url 'actualizar_seguro' seguro.pk %}" class="action-link edit-link">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a href="{% url 'vista_seguro' seguro.pk %}" class="action-link read-link">
                            <i class="bi bi-eye-fill"></i>
                    </td>
                </tbody>
            {% endfor %}
        </table>
        <button><a style="text-decoration: none; color: aliceblue;" href="{% url 'crear_seguro'  %}">Crear seguro</a></button>
    </div>
</body>
</html>