<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Seguro</title>
    <link rel="stylesheet" href="{% static "vista.css" %}">
</head>
<body>
    <div>
        <h1>Detalles del Seguro</h1>
        <ul class="lista">
            <li>Id: {{seguro.dni}}</li>
            <li>Placa: {{seguro.placa}}</li>
            <li>Id Aseguradora: {{seguro.id_aseguradora}}</li>
            <li>Fecha Inicio: {{seguro.fecha_inicio|date:'d-m-Y'|default:'...'}}</li>
            <li>Fecha Final: {{seguro.fecha_fin|date:'d-m-Y'|default:'...'}}</li>
            <li>Costo: {{seguro.costo}}</li>
            <li>Tipo Cobertura: {{seguro.tipo_cobertura}}</li>
            <li>Estado: {{seguro.estado}}</li>
        </ul>
        <button class="button"><a style="text-decoration: none; color: aliceblue;" href="{% url 'listado_seguros' %}">Volver al listado</a></button>
    </div>
</body>
</html>