<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Multas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static "multas_lista.css" %}">
</head>
<body>
    <div>
        <h1>Listado De Multas</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Placa</th>
                    <th>Fecha</th>
                    <th>Infraccion</th>
                    <th>Monto</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for multa in multas %}
                <tbody>
                    <td>{{multa.dni}}</td>
                    <td>{{multa.placa}}</td>
                    <td>{{multa.fecha|date:'d-m-Y'|default:'...'}}</td>
                    <td>{{multa.infraccion}}</td>
                    <td>{{multa.monto}}</td>
                    <td>{{multa.estado}}</td>
                    <td> 
                        <a href="{% url 'eliminar_multa' multa.pk %}" class="action-link delete-link">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                        <a href="{% url 'actualizar_multa' multa.pk %}" class="action-link edit-link">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a href="{% url 'vista_multa' multa.pk %}" class="action-link read-link">
                            <i class="bi bi-eye-fill"></i>
                    </td>
                </tbody>
            {% endfor %}
        </table>
        <button><a style="text-decoration: none; color: aliceblue;" href="{% url 'crear_multa'  %}">Crear Carro</a></button>
    </div>
</body>
</html>