<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'admin/css/crear_lista.css' %}">
</head>
<body>
    <div class="col-10">
        <form class="form" method="post" action="{% if form.instance.pk %}{% url 'actualizar_usuario' form.instance.pk %}{%else %}{% url 'registrar_usuario' %}{% endif %}">
                    <h1>{% if form.instance.pk %} Actualizar Usuario {%else %} Crear Usuario {% endif %}</h1> 
                {%csrf_token%}

                {% comment %} Validacion de errores {% endcomment %}
                {% if form.errors %}
                    <div class="errores">
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="error-field">
                                    {{ field.label }}: {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-4">
                        <label for=""> Tipo de Identificacion</label>
                        {{form.tipo_identificacion}}
                    </div>
                    <div class="col-md-4">
                        <label for=""> Identificacion</label>
                        {{form.identificacion}}
                    </div>
                    <div class="col-md-4">
                        <label for=""> Primer Nombre</label>
                        {{form.first_name}}
                    </div>
                    <div class="col-md-4">
                        <label for=""> Apellido</label>
                        {{form.last_name}}
                    </div>
                    <div class="col-md-4">
                        <label for=""> Email</label>
                        {{form.email}}
                    </div>
                    <div class="col-md-4">
                        <label for="">Genero</label>
                        {{form.genero}}
                    </div>
                    <div class="col-md-4">
                        <label for="">Ciudad</label>
                        {{form.ciudad}}
                    </div>
                    <div class="col-md-4">
                        <label for="">Telefono</label>
                        {{form.telefono}}
                    </div>
                    <div class="col-md-4">
                        <label for="">Permisos de Usuario</label>
                        {{form.groups}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit">{% if form.instance.pk %} Editar Usuario {%else %} Crear Usuario {% endif %}</button>
                    </div>
                    <div class="col-md-6">
                        <a class="btn" href="{% url 'listado_usuarios'  %}">Volver</a>
                    </div>    
                </div>
        </form>
    </div>
</body>
</html>