<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Propietario</title>
    <link rel="stylesheet" href="{% static 'admin/css/crear_lista.css' %}">
</head>
<body>
    <form class="form" method="post" action="{% if form.instance.pk %}{% url 'actualizar_propietario' form.instance.pk %}{%else %}{% url 'crear_propietario' %}{% endif %}">
        <h1>{% if form.instance.pk %} Editar Propietario {%else %} Crear Propietario {% endif %}</h1> 
        {%csrf_token%}
        
        {% comment %} Validacion de errores {% endcomment %}
        {% if form.errors %}
        <div class="errores">
            {% for field in form %}
                {% if field.errors %}
                    <div class="error-field">
                        {{ field.label }}: {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %} Editar Propietario {%else %} Crear Propietario {% endif %}</button>
        <a class="btn" href="{% url 'listado_propietarios'  %}">Volver</a>
    </form>
</body>
</html>