<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Propietarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static "lista.css" %}">
</head>
<body>
    <div>
        <h1>Listado De Propietarios</h1>
        <table>
            <thead>
                <tr>
                    <th>Identificacion</th>
                    <th>Placa</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for propietario in propietarios %}
                <tbody>
                    <td>{{propietario.dni}}</td>
                    <td>{{propietario.placa}}</td>
                    <td>{{propietario.nombre}}</td>
                    <td>{{propietario.apellido}}</td>
                    <td>{{propietario.direccion}}</td>
                    <td>{{propietario.telefono}}</td>
                    <td>{{propietario.email}}</td>
                    <td> 
                        <a href="{% url 'eliminar_propietario' propietario.pk %}" class="action-link delete-link">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                        <a href="{% url 'actualizar_propietario' propietario.pk %}" class="action-link edit-link">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a href="{% url 'vista_propietario' propietario.pk %}" class="action-link read-link">
                            <i class="bi bi-eye-fill"></i>
                    </td>
                </tbody>
            {% endfor %}
        </table>
        <button><a style="text-decoration: none; color: aliceblue;" href="{% url 'crear_propietario'  %}">Crear Propietario</a></button>
    </div>
</body>
</html>