<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Carros</title>
    <link rel="stylesheet" href="{% static "carros_lista.css" %}">
</head>
<body>
    <div>
        <h1>Listado De Carros</h1>
        <table>
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Color</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                    <th>kilometraje</th>
                    <th>disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for carro in carros %}
                <tbody>
                    <td>{{carro.placa}}</td>
                    <td>{{carro.marca}}</td>
                    <td>{{carro.modelo}}</td>
                    <td>{{carro.anio|date:'d-m-Y'|default:'...'}}</td>
                    <td>{{carro.color}}</td>
                    <td>{{carro.tipo}}</td>
                    <td>{{carro.precio}}</td>
                    <td>{{carro.kilometraje}}</td>
                    <td>{{carro.disponible}}</td>
                    <td> 
                        <button class="eliminar" ><a  href="{% url 'eliminar_carro' carro.pk %}">Elimiar</a></button>
                        <button class="editar" ><a  href="{% url 'actualizar_carro' carro.pk %}">Editar</a></button>
                        <button class="leer" ><a  href="{% url 'vista_carro' carro.pk %}">Leer</a></button>
                    </td>
                </tbody>
            {% endfor %}
        </table>
        <button><a style="text-decoration: none; color: aliceblue;" href="{% url 'crear_carro'  %}">Crear Carro</a></button>
    </div>
</body>
</html>