<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Carros</title>
    <link rel="stylesheet" href="{% static "carros_lista.css" %}">
</head>
<body>
    <div>
        <h1>Listado De Carros</h1>
        <table>
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Precio</th>
                    <th>disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for carro in carros %}
                <tbody>
                    <td>{{carro.marca}}</td>
                    <td>{{carro.modelo}}</td>
                    <td>{{carro.anio}}</td>
                    <td>{{carro.precio}}</td>
                    <td>{{carro.disponible}}</td>
                    {% comment %} <td> 
                        <button class="eliminar" ><a  href="{% url 'eliminar_carro' carro.pk %}">Elimiar</a></button>
                        <button class="editar" ><a  href="{% url 'actualizar_carro' carro.pk %}">Editar</a></button>
                    </td> {% endcomment %}
                </tbody>
            {% endfor %}
        </table>
        <button ><a style="text-decoration: none; color: aliceblue;" href="{% url 'crear_carro'  %}">Crear Biblioteca</a></button>
    </div>
</body>
</html>