<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carro</title>
    <link rel="stylesheet" href="{% static "vista.css" %}">
</head>
<body>
    <div>
        <h1>Detalles del Carro</h1>
        <ul class="lista">
            <li>Marca: {{ carro.marca }}</li>
            <li>Modelo: {{ carro.modelo }}</li>
            <li>Año: {{ carro.anio }}</li>
            <li>Precio: {{ carro.precio }}</li>
            <li>Disponible: {{ carro.disponible }}</li>
        </ul>
        <button class="button"><a style="text-decoration: none; color: aliceblue;" href="{% url 'listado_carros' %}">Volver al listado</a></button>
    </div>
</body>
</html>