<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Taller</title>
    <link rel="stylesheet" href="{% static 'admin/css/vista.css' %}">
</head>
<body>
    <div>
        <h1>Detalles del Taller</h1>
        <ul class="lista">
            <li>Id: {{taller.idn}}</li>
            <li>Nombre: {{taller.nombre}}</li>
            <li>Direccion: {{taller.direccion}}</li>
            <li>Telefono: {{taller.telefono}}</li>
            <li>Especializacion: {{taller.especializacion}}</li>
        </ul>
        <button class="button"><a style="text-decoration: none; color: aliceblue;" href="{% url 'listado_talleres' %}">Volver al listado</a></button>
    </div>
</body>
</html>