{% url "gestion_de_carros:crear_carro " as crear_carro %}
{% url "gestion_de_carros:listado_carros " as listado_carros %}

{% load static %}

<li class="{% if 'gestion_de_carros' in request.path %} active {% endif %} has-sub">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="fas fa-car bg-secondary" ></i>
    </a>
    <ul class="sub-menu">
            {% if perms.gestion_de_carros.crear_carro %}
                <li class="{% if crear_carro in request.path %} active {% endif %}">
                    <a href="{{crear_carro}}">Crear Carro</a>
                </li>
            {% endif %}
            {% if perms.gestion_de_carros.listar_carros %}
                <li class="{% if listado_carros in request.path %} active {% endif %}">
                    <a href="{{listado_carros}}">Listar Carros</a>
                </li>
            {% endif %}
    </ul>
</li>